<%= form_with(model: comment, class: 'comment-form') do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :parent_id %>
  <%= form.hidden_field :parent_type %>
  <%# form.label :content, style: "display: block" %>
  <div class="comment-form__avatar">
    <%= render(UserSmallComponent.new(user: current_user)) %>
  </div>
  <div class="comment-form__text_area" data-controller="button">
    <%= form.text_area :content, placeholder: 'Write a comment...', data: { button_target: 'content', action: 'button#disableEmptyButton'} %>
    <%= form.button class: 'comment-form__button button button--disabled', data: { button_target: 'button'}, disabled: true do %>
      <%= inline_svg_tag 'send.svg' %>
    <% end %>
  </div>
</div>
<% end %>
