<%= tag.turbo_frame id: dom_id(@comment), class: 'comment__container' do %>
  <div class="comment">
    <div class="comment__user-avatar">
      <%= inline_svg_tag 'user_placeholder.svg', class: 'small_user__avatar' %>
    </div>
    <div>
      <div class="comment__content">
        <span class="comment__author"><%= comment_author %></span>
        <span class="comment__text"><%= @comment.content %></span>
      </div>
      <div class="comment__actions">
        <%= link_to 'Like', not_implemented_path %>
        <%= link_to 'Reply', not_implemented_path %>
        <%= comment_age %>
      </div>
    </div>
  </div>
  <% unless @comment.comments.size.zero? %>
    <div class="comment__nested-comments">
      <%= tag.turbo_frame id: dom_id(@comment, :comments_list) do %>
        <%= link_to 'Load more',
        comments_path(comment: {parent_type: 'Comment', parent_id: @comment.id}) %>
      <% end %>
    </div>
  <% end %>
<% end %>
