<%= tag.turbo_frame id: dom_id(@post) do %>
  <div class="post" data-controller="post" 
  data-post-liked-value=<%= liked %> 
  data-post-count-value=<%= others_likes %>
  data-post-current-user-name-value=<%= @current_user&.name %>>
    <div class="">
      <div class="small_user__container">
        <div><%= inline_svg_tag 'user_placeholder.svg', class: 'small_user__avatar' %></div>
        <div class="small_user__data-container">
          <span><%= creator_name %></span>
          <div class="post__post-data">
            <% post_data.each do |data| %>
              <span><%= data %></span>
            <% end %>
          </div>
        </div>
      </div>
      <p class="post__content">
        <%= @post.content %>
      </p>
      <div class="post__social-data-wrapper">
        <div class="post__likes-data post__hover-data-container">
          <%= inline_svg_tag('cross.svg', 
          class: "post__likes-icon #{'hidden' if likes_num.zero?}",
          data: { post_target: 'likeIcon'}) %>
          <%= likes_count %>
          <%= tag.turbo_frame id: dom_id(@post, :likers_list), class: 'post__hover-data',
             src: index_likers_path(target_id: @post.id, target_type: @post.class.name), loading: :lazy do %>
            Loading...
          <% end %>
        </div>
        <div class="post__hover-data-container">
          <%= tag.turbo_frame id: dom_id(@post, :commentors_list), class: 'post__hover-data', loading: :lazy,
          src: index_commentors_path(id: @post.id) do %>
            Loading...
          <% end %>
          <%= comments_count %>
        </div>
        <%= shares_count %>
      </div>
      <div class="post__social-actions">
        <%= tag.turbo_frame id: dom_id(@post, :like_button), class: 'post__social-button-container',
          src: like_path(like: { target_id: @post.id, target_type: 'post' }), loading: :lazy do %>
          <%= render_like_button %>
        <% end %>
        <div class="post__social-button-container">
          <%= link_to build_new_comment_path(@post, @current_user),
           data: { turbo_frame: dom_id(@post, :new_comment),
            action: 'click->post#toggleNewComment',
            post_target: 'newCommentLink',
            }, class: 'post__social-button' do %>
            <%= inline_svg_tag 'chat_bubble_left.svg', class: 'post__social-button-icon' %>
            <span>Comment</span>
          <% end %>
        </div>
        <div class="post__social-button-container">
          <%= link_to not_implemented_path, class: 'post__social-button' do %>
            <%= inline_svg_tag 'share_icon.svg', class: 'post__social-button-icon' %>
            <span>Share</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment__comments-list hidden" data-post-target="commentList">
      <%= tag.turbo_frame id: dom_id(@post, :comments_list) %>
    </div>
    <div class="comment__new_comment hidden" data-post-target="newComment">
      <%= tag.turbo_frame id: dom_id(@post, :new_comment) %>
    </div>
  </div>
<% end %>
