<div class="post__content" data-controller="modal">
  <p class="post__body-text <%= 'post__body-text--has-images' if @images&.any? %>">
    <%= @body %>
  </p>
  <% if @images&.any? %>
    <%= image_tag @images.first.variant(:default), class: 'post__image' %>
    <button class="button post__images-button" data-action="modal#show">
      <span><%= "Show #{@images.size - 1} more images..." %></span>
    </button>
  <% end %>
  <%= render(ModalComponent.new) do %>
    <%= tag.turbo_frame id: dom_id(@post, :images), src: post_images_path(@post), loading: :lazy %>
  <% end %>
</div>
