<%= form_with(model: post, data: { controller: 'post' }) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content, placeholder: 'What is on your mind?' %>
  </div>
  <div>
    <div class="post__image-upload hidden" data-post-target="uploadField">
      <%= form.label :images %>
      <%= form.file_field :images %>
    </div>
    <%= form.button 'Upload Image', data: {
    action: 'post#addUploadField:prevent',
    post_target: 'uploadButton'} %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= turbo_frame_tag id=dom_id(post, :image_previews) do %>
  <div class="post__images-gallery">
    <% post.images.each do |image| %>
      <div class="post__image-preview">
        <%= image_tag image.variant(:thumb) %>
        <%= button_to 'Delete', delete_image_path(image_id: image.id, id: post.id), method: :delete %>
      </div>
    <% end %>
  </div>
<% end %>
