  <%= form_with(model: post, data: { controller: 'post' }, class: 'new_post__form') do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <span class="new_post__form-title">Create Post</span>
  <div class="new_post__content-container" data-controller="post">
    <div class="new_post__form-user">
      <%= render(UserSmallComponent.new(user: current_user)) %>
      <span><%= current_user&.name %></span>
    </div>
    <div>
      <%= form.text_area :content, placeholder: "What's on your mind?",
      class: 'new_post__message-area', data: {
        post_target: 'postContent', action: 'post#checkPostContent', modal_target: 'innerField'} %>
      <ul class="new_post__upload-preview" data-post-target="uploadPreview">
        <div class="new_post__image-upload hidden" data-post-target="uploadField">
          <button type="button" class="button button--padded new_post__remove-preview" data-action="post#deletePreview"><%= inline_svg_tag 'cross.svg', class: 'min-svg' %></button>
          <%= form.label :images, class: 'new_post__upload-button' do %>
            <%= form.file_field :images, multiple: true, accept: '.jpg, .png, .jpeg',
              data: { placeholder: true, post_target: 'input'} %>
            <%= inline_svg_tag 'question_mark.svg', class: 'new_post__preview-image' %>
          <% end %>
        </div>
        <div class="new_post__image-upload hidden" data-action="click->post#addUploadField" data-post-target="addUploadField">
          <%= inline_svg_tag 'plus.svg', data: { post_target: 'image'} %>
        </div>
      </ul>
    </div>
    <div class="new_post__form-attachments">
      <%= form.button data: { action: 'post#addImages:prevent',
    post_target: 'uploadButton'}, class: 'button button--padded' do %>
        <%= image_tag 'https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/Ivw7nhRtXyo.png' %>
      <% end %>
      <%= image_tag 'https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/b37mHA1PjfK.png', class: 'button button--padded' %>
      <%= image_tag 'https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Y4mYLVOhTwq.png', class: 'button button--padded' %>
      <%= image_tag 'https://static.xx.fbcdn.net/rsrc.php/v3/y1/r/8zlaieBcZ72.png', class: 'button button--padded' %>
      <%= image_tag 'https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/pkbalDbTOVI.png', class: 'button button--padded' %>
    </div>
    <div>
      <%= form.submit 'Post', class: 'button new_post__form-button', data: {post_target: 'postButton'}, disabled: true %>
    </div>
  </div>
<% end %>
<div class="post__images-gallery">
  <% post.images.each do |image| %>
    <%= content_tag(:div, class: 'post_image-preview', id: dom_id(image)) do %>
      <%= image_tag image.variant(:thumb) %>
      <%= button_to 'Delete', delete_image_path(image_id: image.id, id: post.id), method: :delete %>
    <% end %>
  <% end %>
</div>
